services:
  ebook-pipeline:
    build: .
    image: ebook-metadata-pipeline
    container_name: ebook_processor
    volumes:
      # Dossier contenant les EPUBs à traiter
      - ./data:/app/data
      
      # Dossier de sortie (si Upload Drive désactivé ou pour copie locale)
      - ./output:/app/output
      
      # Fichiers de configuration et secrets (Persistence)
      - ./.env:/app/.env
      - ./credentials.json:/app/credentials.json
      - ./token.json:/app/token.json
    environment:
      # Surcharge possible des variables d'env ici
      - ENABLE_DRIVE_UPLOAD=${ENABLE_DRIVE_UPLOAD:-False}
    tty: true
    stdin_open: true  # Nécessaire si vous utilisez input() dans le script
